@model IEnumerable<Vendi.App.Models.ProductModelView>
@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/_CPLayout.cshtml";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Products</h2>
                    </div>
                </div>
            </div>
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BrandName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                £@Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BrandName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ProductId"><i style="color:#4272d7;" class="fa fa-edit fa-2x"></i></a> |
                                <a asp-action="Details" asp-route-id="@item.ProductId"><i style="color:#4272d7;" class="fa fa-info-circle fa-2x"></i></a> |
                                <a onclick="DeleteProduct(@item.ProductId)"><i style="color:#4272d7;" class="fa fa-trash fa-2x"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function DeleteProduct(id) {
        var r = confirm("Are you sure to delete this Product .");
        if (r) {
            $.ajax({
                url: "/DeleteProduct/" + id,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",

                success: function (result) {
                    console.log(result);
                    location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage);
                }
            });
        }
        location.reload();
    }
</script>

